/* globals */

:root {
    --green: #00674b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.spacing-top {
    padding-top: 60px;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

p {
    line-height: 1.618;
}

h1,
h2,
h3 {
    color: #333;
}

.text-center {
    text-align: center !important;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.result {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* searchbar */

.no-results {
    font-size: 24px;
    color: var(--green);
}

.meal-search {
    margin-top: 45px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meal-searchbar {
    display: flex;
    margin-top: 30px;
}

.meal-searchbar input {
    padding: 15px 20px;
    min-width: 400px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 18px;
    outline: 0;
    border: 2px solid var(--green);
    color: var(--green);
}

.meal-searchbar input::placeholder {
    color: var(--green);
}

.meal-searchbar button {
    padding: 5px 10px 5px 5px;
    width: 65px;
    background-color: var(--green);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    outline: 0;
    cursor: pointer;
    border: 2px solid var(--green);
}

.meal-searchbar .fas {
    font-size: 20px;
    color: #fff;
}

/* meal items */

.meal-grid {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.meal-grid .meal-item {
    width: 275px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    border-radius: 15px;
}

.meal-grid .meal-name {
    padding: 15px 20px 25px 20px;
}

.meal-grid .meal-name h3 {
    margin-bottom: 15px;
}

/*
.meal-grid .meal-item:hover {
    transform: scale(1.01) translateY(-10px);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.45);
}
*/

.meal-grid .meal-item img {
    width: 100%;
    max-height: 225px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.meal-item-content {
    padding: 20px 30px 30px 30px;
}

/*
.recipe-btn-container {
    margin-top: 18px;
}

.recipe-btn-sizing {
    min-width: 170px;
    height: 52px;
    color: #fff;
    background-color: var(--green);
    outline: 0;
    border: 0;
    font-weight: 600;
    border-radius: 100px;
}
*/

.recipe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    text-decoration: none;
    min-width: 170px;
    margin: auto;
    max-width: 170px;
    height: 52px;
    color: #fff;
    background-color: var(--green);
    outline: 0;
    border: 0;
    font-weight: 600;
    border-radius: 100px;
    position: relative;
    z-index: 5;
}

.recipe-btn .btn-arrow {
    transition: all 0.3s ease;
    opacity: 0;
    font-size: 14px;
}

.recipe-btn:hover .btn-arrow {
    margin-left: 20px;
    opacity: 1;
}


/* meal modal */
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #fff;
    background-color: var(--green);
    border-radius: 10px;
    max-width: 900px;
    height: 90%;
    overflow-y: scroll;
    box-shadow: 0 15px 65px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 5;
    padding: 60px 30px;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f2f2f2;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background-color: #fff;
    color: var(--green);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    color: #fff;
}

.recipe-category {
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
}

.recipe-instructions h3 {
    color: #fff;
    margin-top: 15px;
}

.recipe-meal-img {
    display: flex;
    justify-content: flex-start;
}

.recipe-meal-img img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin: 0 0 20px 0;
    display: block;
}

.recipe-link a {

    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    text-decoration: none;
    min-width: 170px;
    margin: 5px auto auto 0;
    max-width: 170px;
    height: 52px;
    color: #fff;
    background-color: #0a8e6b;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    outline: 0;
    border: 0;
    font-weight: 600;
    border-radius: 100px;
    position: relative;
    z-index: 5;
}